In [1]:
import numpy as np # linear algebra
import pandas as pd 
import os
print(os.listdir("../input"))
print(os.listdir("../input/final-subs"))
print(os.listdir("../input/lgbm-tunning-bayes-search"))

['final-subs', 'lgbm-tunning-bayes-search', 'LANL-Earthquake-Prediction']
['xgb_final.csv', 'cat_boost.csv']
['__notebook__.ipynb', 'submission.csv', '__output__.json', 'lgbm_importances.png', 'clean_submission.csv', '__results___files', 'custom.css', '__results__.html']

In [2]:
xgb = pd.read_csv("../input/final-subs/xgb_final.csv")
print(xgb.shape)
lgb = pd.read_csv("../input/lgbm-tunning-bayes-search/clean_submission.csv")
print(lgb.shape)
cat = pd.read_csv("../input/final-subs/cat_boost.csv")
print(cat.shape)

xgb.head()

(2624, 2)
(2624, 2)
(2624, 2)

       seg_id  time_to_failure
0  seg_00030f         3.763808
1  seg_0012b5         5.270962
2  seg_00184e         5.921163
3  seg_003339         9.166464
4  seg_0042cc         7.227699

In [3]:
lgb.head()

       seg_id  time_to_failure
0  seg_00030f         3.234617
1  seg_0012b5         5.125713
2  seg_00184e         5.888395
3  seg_003339         8.556557
4  seg_0042cc         7.092850

In [4]:
cat.head()

       seg_id  time_to_failure
0  seg_00030f         3.011383
1  seg_0012b5         4.682301
2  seg_00184e         5.039082
3  seg_003339         8.415682
4  seg_0042cc         6.645622

In [5]:
comb = cat
comb.rename(columns={'time_to_failure':'cat'},inplace=True)
comb.head()

       seg_id       cat
0  seg_00030f  3.011383
1  seg_0012b5  4.682301
2  seg_00184e  5.039082
3  seg_003339  8.415682
4  seg_0042cc  6.645622

In [6]:
comb['lgb'] = lgb.time_to_failure
comb.head()

       seg_id       cat       lgb
0  seg_00030f  3.011383  3.234617
1  seg_0012b5  4.682301  5.125713
2  seg_00184e  5.039082  5.888395
3  seg_003339  8.415682  8.556557
4  seg_0042cc  6.645622  7.092850

In [7]:
comb['xgb'] = xgb.time_to_failure
comb.head()

       seg_id       cat       lgb       xgb
0  seg_00030f  3.011383  3.234617  3.763808
1  seg_0012b5  4.682301  5.125713  5.270962
2  seg_00184e  5.039082  5.888395  5.921163
3  seg_003339  8.415682  8.556557  9.166464
4  seg_0042cc  6.645622  7.092850  7.227699

In [8]:
comb['time_to_failure'] = comb.mean(numeric_only=True, axis=1)
comb.head()

       seg_id       cat       lgb       xgb  time_to_failure
0  seg_00030f  3.011383  3.234617  3.763808         3.336603
1  seg_0012b5  4.682301  5.125713  5.270962         5.026325
2  seg_00184e  5.039082  5.888395  5.921163         5.616214
3  seg_003339  8.415682  8.556557  9.166464         8.712901
4  seg_0042cc  6.645622  7.092850  7.227699         6.988724

In [9]:
sub = comb.loc[:,['seg_id','time_to_failure']]
sub.head()

       seg_id  time_to_failure
0  seg_00030f         3.336603
1  seg_0012b5         5.026325
2  seg_00184e         5.616214
3  seg_003339         8.712901
4  seg_0042cc         6.988724

In [10]:
print(sub.shape)

(2624, 2)

In [11]:
sub.to_csv('submission.csv',index=False)