In [1]:
import numpy as np
import pandas as pd
from keras.models import Sequential

data_tr = pd.read_csv("train.csv") 
data_sr = pd.read_csv("sentiment_data.csv")

/Users/angelomulone/anaconda/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
Data_Tr = data_tr.drop(['Name', 'RescuerID','Description','PetID','AdoptionSpeed'], axis=1)
Data_sr = data_sr.drop(['PetID','dom_color','has_eng_description'],axis = 1)

In [3]:
Data_sr = Data_sr.drop(Data_sr.columns[0], axis=1)

In [4]:
Data_Final = pd.concat([Data_Tr, Data_sr], axis=1)

In [5]:
Data_Final.head()

,Type,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,...,Fee,State,VideoAmt,PhotoAmt,doc_mag_corr,doc_score,sent_count,sen1_magnitude,sen1_score,AdoptionSpeed
0,2,3,299,0,1,1,7,0,1,1,...,100,41326,0,1.0,0.400000,0.3,6.0,0.8,0.8,2
1,2,1,265,0,1,1,2,0,2,2,...,0,41401,0,2.0,0.350000,-0.2,2.0,0.1,0.1,0
2,1,1,307,0,1,2,7,0,2,2,...,0,41326,0,7.0,0.528571,0.2,7.0,0.9,-0.9,3
3,1,4,307,0,2,1,2,0,2,1,...,150,41401,0,8.0,0.900000,0.9,1.0,0.9,0.9,2
4,1,1,307,0,1,1,0,0,2,1,...,0,41326,0,3.0,0.616667,0.6,6.0,0.7,0.7,2

In [6]:
#Data_Final = Data_Final[np.isfinite(Data_sr['doc_mag_corr'])]
Data_Final = Data_Final.fillna(0)

In [7]:
Data_Final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14993 entries, 0 to 14992
Data columns (total 25 columns):
Type              14993 non-null int64
Age               14993 non-null int64
Breed1            14993 non-null int64
Breed2            14993 non-null int64
Gender            14993 non-null int64
Color1            14993 non-null int64
Color2            14993 non-null int64
Color3            14993 non-null int64
MaturitySize      14993 non-null int64
FurLength         14993 non-null int64
Vaccinated        14993 non-null int64
Dewormed          14993 non-null int64
Sterilized        14993 non-null int64
Health            14993 non-null int64
Quantity          14993 non-null int64
Fee               14993 non-null int64
State             14993 non-null int64
VideoAmt          14993 non-null int64
PhotoAmt          14993 non-null float64
doc_mag_corr      14993 non-null float64
doc_score         14993 non-null float64
sent_count        14993 non-null float64
sen1_magnitude    14993 non-null float64
sen1_score        14993 non-null float64
AdoptionSpeed     14993 non-null int64
dtypes: float64(6), int64(19)
memory usage: 2.9 MB

In [8]:
R_Data_F = np.asmatrix(Data_Final)

In [9]:
R_Data_F.shape()

TypeError: 'tuple' object is not callable

In [10]:
X_Data_Tr = R_Data_F[:,0:24]
Y_Data_Tr = R_Data_F[:,24]

In [11]:
#Fix random seed for reproducibility
seed = 7
np.random.seed(seed)

In [12]:
print(X_Data_Tr.shape)
print(Y_Data_Tr.shape)

(14993, 24)
(14993, 1)

In [13]:
from sklearn.preprocessing import LabelEncoder
from keras.utils import np_utils

#Encode class values as integers
Y_Data_Tr = np.ravel(Y_Data_Tr)
encoder_Tr = LabelEncoder()
encoder_Tr.fit(Y_Data_Tr)
encoded_Y_Tr = encoder_Tr.transform(Y_Data_Tr)

# convert integers to dummy variables (i.e. one hot encoded)
dummy_y_Tr = np_utils.to_categorical(encoded_Y_Tr)

In [14]:
####### Feature Scaling
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_Data_Tr)

In [15]:
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier

# Define the model

#Initialising the ANN
model = Sequential()
#Adding the input layer and the first hidden layet
model.add(Dense(units = 10, kernel_initializer = 'uniform', input_dim = 24, activation = 'sigmoid'))
#Adding the second hidden layer
model.add(Dense(units = 10, kernel_initializer = 'uniform', activation = 'sigmoid'))

model.add(Dense(units = 10, kernel_initializer = 'uniform', activation = 'sigmoid'))

model.add(Dense(units = 10, kernel_initializer = 'uniform', activation = 'sigmoid'))



model.add(Dense(units = 5, kernel_initializer = 'uniform', activation='softmax'))

#Compile model
model.compile(loss = 'categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [ ]:
model.fit(X_train, dummy_y_Tr, batch_size = 10, epochs = 100)

Epoch 1/100
14993/14993 [==============================] - 3s 176us/step - loss: 1.4753 - acc: 0.2774
Epoch 2/100
14993/14993 [==============================] - 2s 165us/step - loss: 1.4665 - acc: 0.2783
Epoch 3/100
14993/14993 [==============================] - 3s 173us/step - loss: 1.4658 - acc: 0.2761
Epoch 4/100
14993/14993 [==============================] - 3s 170us/step - loss: 1.4656 - acc: 0.2723
Epoch 5/100
14993/14993 [==============================] - 3s 169us/step - loss: 1.4647 - acc: 0.2762
Epoch 6/100
14993/14993 [==============================] - 3s 173us/step - loss: 1.4633 - acc: 0.2813
Epoch 7/100
14993/14993 [==============================] - 2s 163us/step - loss: 1.4601 - acc: 0.2847
Epoch 8/100
14993/14993 [==============================] - 3s 177us/step - loss: 1.4561 - acc: 0.2920
Epoch 9/100
14993/14993 [==============================] - 3s 178us/step - loss: 1.4498 - acc: 0.3117
Epoch 10/100
14993/14993 [==============================] - 3s 194us/step - loss: 1.4426 - acc: 0.3221
Epoch 11/100
14993/14993 [==============================] - 3s 215us/step - loss: 1.4360 - acc: 0.3282
Epoch 12/100
14993/14993 [==============================] - 3s 212us/step - loss: 1.4313 - acc: 0.3343
Epoch 13/100
14993/14993 [==============================] - 3s 222us/step - loss: 1.4285 - acc: 0.3374
Epoch 14/100
14993/14993 [==============================] - 2s 149us/step - loss: 1.4256 - acc: 0.3401
Epoch 15/100
14993/14993 [==============================] - 2s 147us/step - loss: 1.4224 - acc: 0.3436
Epoch 16/100
14993/14993 [==============================] - 3s 198us/step - loss: 1.4194 - acc: 0.3477
Epoch 17/100
14993/14993 [==============================] - 3s 191us/step - loss: 1.4160 - acc: 0.3525
Epoch 18/100
14993/14993 [==============================] - 3s 170us/step - loss: 1.4132 - acc: 0.3564
Epoch 19/100
14993/14993 [==============================] - 3s 173us/step - loss: 1.4113 - acc: 0.3581
Epoch 20/100
14993/14993 [==============================] - 3s 213us/step - loss: 1.4099 - acc: 0.3588
Epoch 21/100
14993/14993 [==============================] - 3s 187us/step - loss: 1.4090 - acc: 0.3626
Epoch 22/100
14993/14993 [==============================] - 2s 144us/step - loss: 1.4087 - acc: 0.3626
Epoch 23/100
14993/14993 [==============================] - 2s 134us/step - loss: 1.4077 - acc: 0.3631
Epoch 24/100
14993/14993 [==============================] - 3s 190us/step - loss: 1.4072 - acc: 0.3637 1s - l
Epoch 25/100
14993/14993 [==============================] - 3s 230us/step - loss: 1.4072 - acc: 0.3656
Epoch 26/100
14993/14993 [==============================] - 3s 211us/step - loss: 1.4066 - acc: 0.3648
Epoch 27/100
14993/14993 [==============================] - 3s 224us/step - loss: 1.4058 - acc: 0.3658
Epoch 28/100
14993/14993 [==============================] - 3s 209us/step - loss: 1.4056 - acc: 0.3676
Epoch 29/100
14993/14993 [==============================] - 3s 221us/step - loss: 1.4057 - acc: 0.3648
Epoch 30/100
14993/14993 [==============================] - 4s 284us/step - loss: 1.4051 - acc: 0.3662 1s - lo
Epoch 31/100
14993/14993 [==============================] - 4s 243us/step - loss: 1.4048 - acc: 0.3657
Epoch 32/100
14993/14993 [==============================] - 3s 173us/step - loss: 1.4043 - acc: 0.3683
Epoch 33/100
14993/14993 [==============================] - 3s 228us/step - loss: 1.4048 - acc: 0.3666
Epoch 34/100
14993/14993 [==============================] - 3s 178us/step - loss: 1.4042 - acc: 0.3670
Epoch 35/100
14993/14993 [==============================] - 2s 146us/step - loss: 1.4041 - acc: 0.3682
Epoch 36/100
14993/14993 [==============================] - 2s 162us/step - loss: 1.4032 - acc: 0.3696
Epoch 37/100
14993/14993 [==============================] - 2s 133us/step - loss: 1.4039 - acc: 0.3700
Epoch 38/100
14993/14993 [==============================] - 2s 143us/step - loss: 1.4033 - acc: 0.3684
Epoch 39/100
14993/14993 [==============================] - 2s 154us/step - loss: 1.4027 - acc: 0.3680
Epoch 40/100
14993/14993 [==============================] - 2s 157us/step - loss: 1.4027 - acc: 0.3670
Epoch 41/100
14993/14993 [==============================] - 4s 242us/step - loss: 1.4024 - acc: 0.3698
Epoch 42/100
14993/14993 [==============================] - 2s 154us/step - loss: 1.4016 - acc: 0.3712
Epoch 43/100
14993/14993 [==============================] - 2s 157us/step - loss: 1.4014 - acc: 0.3687
Epoch 44/100
14993/14993 [==============================] - 3s 190us/step - loss: 1.4010 - acc: 0.3694
Epoch 45/100
14993/14993 [==============================] - 3s 181us/step - loss: 1.4000 - acc: 0.3720
Epoch 46/100
14993/14993 [==============================] - 3s 174us/step - loss: 1.4002 - acc: 0.3706
Epoch 47/100
14993/14993 [==============================] - 2s 148us/step - loss: 1.3995 - acc: 0.3714
Epoch 48/100
14993/14993 [==============================] - 3s 167us/step - loss: 1.3999 - acc: 0.3732
Epoch 49/100
14993/14993 [==============================] - 3s 191us/step - loss: 1.3997 - acc: 0.3701
Epoch 50/100
14993/14993 [==============================] - 3s 227us/step - loss: 1.3990 - acc: 0.3700 0s - loss: 1.4006 -
Epoch 51/100
14993/14993 [==============================] - 3s 223us/step - loss: 1.3986 - acc: 0.3738
Epoch 52/100
14993/14993 [==============================] - 4s 276us/step - loss: 1.3984 - acc: 0.3721
Epoch 53/100
14993/14993 [==============================] - 4s 259us/step - loss: 1.3979 - acc: 0.3730
Epoch 54/100
14993/14993 [==============================] - 3s 214us/step - loss: 1.3972 - acc: 0.3728
Epoch 55/100
14993/14993 [==============================] - 3s 207us/step - loss: 1.3974 - acc: 0.3718
Epoch 56/100
14993/14993 [==============================] - 3s 193us/step - loss: 1.3968 - acc: 0.3727
Epoch 57/100
14993/14993 [==============================] - 3s 207us/step - loss: 1.3970 - acc: 0.3739
Epoch 58/100
13470/14993 [=========================>....] - ETA: 0s - loss: 1.3964 - acc: 0.3745

In [52]:
data_Te = pd.read_csv("test.csv") 
data_Sr_Te = pd.read_csv("sentiment_data_TEST.csv")

In [53]:
Data_Te = data_Te.drop(['Name', 'RescuerID','Description','PetID'], axis=1)
Data_Sr_Te = data_Sr_Te.drop(['PetID','dom_color','has_eng_description'],axis = 1)

In [54]:
Data_Sr_Te = Data_Sr_Te.drop(Data_Sr_Te.columns[0], axis=1)

In [55]:
Data_Final_Te = pd.concat([Data_Te, Data_Sr_Te], axis=1)

In [56]:
Data_Final_Te.head()

,Type,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,...,Quantity,Fee,State,VideoAmt,PhotoAmt,doc_mag_corr,doc_score,sent_count,sen1_magnitude,sen1_score
0,1,2,307,0,1,1,0,0,2,2,...,1,150,41326,0,3.0,0.750,0.7,2.0,0.8,0.8
1,2,24,266,0,1,2,7,0,2,1,...,1,0,41326,0,1.0,0.000,0.0,2.0,0.0,0.0
2,2,20,266,0,2,7,0,0,2,1,...,1,150,41326,0,1.0,0.375,0.1,4.0,0.4,0.4
3,2,5,266,252,2,1,6,7,2,1,...,1,100,41326,0,1.0,0.440,0.3,5.0,0.0,0.0
4,1,6,307,0,2,1,2,7,2,1,...,1,150,41326,0,1.0,0.275,0.2,4.0,0.1,0.1

In [57]:
Data_Final_Te = Data_Final_Te.fillna(0)

In [58]:
Data_Final_Te.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3948 entries, 0 to 3947
Data columns (total 24 columns):
Type              3948 non-null int64
Age               3948 non-null int64
Breed1            3948 non-null int64
Breed2            3948 non-null int64
Gender            3948 non-null int64
Color1            3948 non-null int64
Color2            3948 non-null int64
Color3            3948 non-null int64
MaturitySize      3948 non-null int64
FurLength         3948 non-null int64
Vaccinated        3948 non-null int64
Dewormed          3948 non-null int64
Sterilized        3948 non-null int64
Health            3948 non-null int64
Quantity          3948 non-null int64
Fee               3948 non-null int64
State             3948 non-null int64
VideoAmt          3948 non-null int64
PhotoAmt          3948 non-null float64
doc_mag_corr      3948 non-null float64
doc_score         3948 non-null float64
sent_count        3948 non-null float64
sen1_magnitude    3948 non-null float64
sen1_score        3948 non-null float64
dtypes: float64(6), int64(18)
memory usage: 740.3 KB

In [59]:
R_Data_F_Te = np.asmatrix(Data_Final_Te)

In [61]:
X_Data_Te = R_Data_F_Te[:,0:24]
#Y_Data_Te = R_Data_F_Te[:,24]

In [62]:
sc = StandardScaler()
X_test = sc.fit_transform(X_Data_Te)

In [63]:
Y_pred_Te = model.predict(X_test)

In [64]:
Pred_te = np.argmax(Y_pred_Te,axis=1)

In [65]:
PetID =np.asarray(data_Te['PetID'],dtype = str)
print(PetID.shape[0])

3948

In [66]:
import csv
n = PetID.shape[0]

with open('mysubmission_Sent.csv','w',newline = '') as f:
    thewriter = csv.writer(f)
    thewriter.writerow(['PetID','AdoptionSpeed'])

    for x in range(0, n):
        thewriter.writerow([PetID[x],Pred_te[x]])
    #thewriter.writecolumn(['one','two','three'])